body {
  --slack-color: #3f0f40;
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background: #959595;
  border-radius: 25px;
}

body::-webkit-scrollbar-track {
  background: #d3d3d3;
  border-radius: 25px;
}

.app_body {
  display: flex;
  height: 100vh;
}